<h1>CaLculador Tasa De interes Anual<h1>

<form action="/resultInterest" method="POST">
  <div>
    <div>
      <label> Capital</label>
    </div>
    <input type="number" required="true" name="capital" placeholder="0">
    <div>
      <label> Tasa de interes anual</label>
      </div>
    <input type="number" required="true" name="interestRate" placeholder="0">
    <div>
    <label> Años</label>
    </div>
    <input type="number" required="true" name="years" placeholder="0">
  </div>
  <div>
    <button type="submit">
      enviar</button>
    </div>
  </form>

