<h1>Resultado interes</h1>
<div>
  <p>Con el capital: <b>{{capital}}</b>, con una tasa de <b>{{interestRate}}</b>, en los siguientes años: <b>{{years}}</b></p>
  <p>Su interes será <b>{{result}}</b></p>
</div>
<a href="/interestCalculation">Nuevo calculo</a>
